body {
  color: #111827;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

input {
  width: 60px;
  height: 40px;
  border: 1px solid #D1D5DB;
}
select {
  font-size: 0.9rem;
  padding: 1px 7px;
  width: 250px;
  height: 30px;
  border: 1px solid #D1D5DB;
  border-radius: 5px;
}

button {
  height: 30px;
  font-size: 12px;
  background-color: white;
  border: 1px solid #D1D5DB;
  border-radius: 5px;
}

.container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #D1D5DB;
}
