body, html {
  color: #111827;
  background-color: #1c1c1c;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;

}

input {
  width: 60px;
  height: 40px;
  border: 1px solid #D1D5DB;
}
select {
  font-size: 0.9rem;
  padding: 1px 7px;
  width: 250px;
  height: 40px;
  border: 1px solid #D1D5DB;
  border-radius: 5px;
  margin-right: 20px;
}

button {
  height: 40px;
  padding: 0 8px;
  font-size: 12px;
  background-color: white;
  border: 1px solid #D1D5DB;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #D1D5DB;
}

.container {
  width: 500px;
  height: 500px;
  margin: 30px auto;
  background-color: white;
}
